{
  "openapi": "3.1.0",
  "info": {
    "title": "AIAS Platform API",
    "description": "Enterprise-grade AI consultancy platform API. Provides endpoints for AI agents, workflow automation, analytics, billing, and more.",
    "version": "1.0.0",
    "contact": {
      "name": "API Support",
      "email": "support@aias-platform.com",
      "url": "https://aias-platform.com"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://aias-platform.com/api",
      "description": "Production server"
    },
    {
      "url": "https://preview.vercel.app/api",
      "description": "Preview server"
    },
    {
      "url": "http://localhost:3000/api",
      "description": "Local development server"
    }
  ],
  "tags": [
    {
      "name": "Health",
      "description": "Health check and system status endpoints"
    },
    {
      "name": "Analytics",
      "description": "Analytics tracking and metrics endpoints"
    },
    {
      "name": "Billing",
      "description": "Stripe billing and subscription management"
    },
    {
      "name": "Notifications",
      "description": "User notifications management"
    },
    {
      "name": "Settings",
      "description": "User and application settings"
    },
    {
      "name": "Telemetry",
      "description": "Telemetry ingestion and monitoring"
    },
    {
      "name": "Admin",
      "description": "Admin-only endpoints for system management"
    },
    {
      "name": "Blog",
      "description": "Blog and RSS feed management"
    },
    {
      "name": "ETL",
      "description": "ETL operations for data ingestion"
    }
  ],
  "paths": {
    "/healthz": {
      "get": {
        "tags": ["Health"],
        "summary": "Health check endpoint",
        "description": "Comprehensive health check for database, REST API, auth, RLS, and storage",
        "operationId": "healthCheck",
        "responses": {
          "200": {
            "description": "System is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthCheckResponse"
                }
              }
            }
          },
          "503": {
            "description": "System is unhealthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthCheckResponse"
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "tags": ["Health"],
        "summary": "Simple health check",
        "description": "Basic health check endpoint",
        "operationId": "simpleHealthCheck",
        "responses": {
          "200": {
            "description": "Service is up"
          }
        }
      }
    },
    "/analytics/track": {
      "post": {
        "tags": ["Analytics"],
        "summary": "Track analytics event",
        "description": "Track conversion events and user analytics",
        "operationId": "trackAnalytics",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnalyticsEvent"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Event tracked successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Analytics"],
        "summary": "Get funnel metrics",
        "description": "Retrieve conversion funnel metrics",
        "operationId": "getFunnelMetrics",
        "responses": {
          "200": {
            "description": "Funnel metrics retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FunnelMetrics"
                }
              }
            }
          }
        }
      }
    },
    "/stripe/create-checkout": {
      "post": {
        "tags": ["Billing"],
        "summary": "Create Stripe checkout session",
        "description": "Create a Stripe checkout session for subscription",
        "operationId": "createCheckout",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckoutRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Checkout session created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sessionId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/stripe/webhook": {
      "post": {
        "tags": ["Billing"],
        "summary": "Stripe webhook handler",
        "description": "Handle Stripe webhook events",
        "operationId": "stripeWebhook",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook processed successfully"
          },
          "400": {
            "description": "Invalid webhook signature"
          }
        }
      }
    },
    "/notifications": {
      "get": {
        "tags": ["Notifications"],
        "summary": "Get user notifications",
        "description": "Retrieve notifications for the authenticated user",
        "operationId": "getNotifications",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Notifications retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Notification"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": ["Notifications"],
        "summary": "Create notification",
        "description": "Create a new notification",
        "operationId": "createNotification",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateNotificationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Notification created"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/notifications/{id}": {
      "get": {
        "tags": ["Notifications"],
        "summary": "Get notification by ID",
        "operationId": "getNotification",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Notification retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Notification"
                }
              }
            }
          },
          "404": {
            "description": "Notification not found"
          }
        }
      }
    },
    "/notifications/mark-read": {
      "post": {
        "tags": ["Notifications"],
        "summary": "Mark notifications as read",
        "operationId": "markNotificationsRead",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "notificationIds": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Notifications marked as read"
          },
          "400": {
            "description": "Invalid request"
          }
        }
      }
    },
    "/settings": {
      "get": {
        "tags": ["Settings"],
        "summary": "Get user settings",
        "description": "Retrieve settings for the authenticated user",
        "operationId": "getSettings",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Settings retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Settings"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "tags": ["Settings"],
        "summary": "Update user settings",
        "description": "Update settings for the authenticated user",
        "operationId": "updateSettings",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Settings"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Settings updated"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/telemetry/ingest": {
      "post": {
        "tags": ["Telemetry"],
        "summary": "Ingest telemetry data",
        "description": "Ingest telemetry events for monitoring",
        "operationId": "ingestTelemetry",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TelemetryEvent"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Telemetry ingested successfully"
          },
          "400": {
            "description": "Invalid telemetry data"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/admin/compliance": {
      "get": {
        "tags": ["Admin"],
        "summary": "Get compliance status",
        "description": "Retrieve compliance and security status (admin only)",
        "operationId": "getCompliance",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Compliance status retrieved"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - admin access required"
          }
        }
      }
    },
    "/admin/reliability": {
      "get": {
        "tags": ["Admin"],
        "summary": "Get reliability metrics",
        "description": "Retrieve system reliability metrics (admin only)",
        "operationId": "getReliability",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Reliability metrics retrieved"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - admin access required"
          }
        }
      }
    },
    "/blog/rss": {
      "get": {
        "tags": ["Blog"],
        "summary": "Get RSS feed",
        "description": "Retrieve RSS feed for blog posts",
        "operationId": "getRSSFeed",
        "responses": {
          "200": {
            "description": "RSS feed retrieved",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Blog"],
        "summary": "Create RSS feed entry",
        "description": "Create a new RSS feed entry",
        "operationId": "createRSSEntry",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "RSS entry created"
          }
        }
      }
    },
    "/blog/comments": {
      "get": {
        "tags": ["Blog"],
        "summary": "Get blog comments",
        "operationId": "getBlogComments",
        "responses": {
          "200": {
            "description": "Comments retrieved"
          }
        }
      },
      "post": {
        "tags": ["Blog"],
        "summary": "Create blog comment",
        "operationId": "createBlogComment",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Comment created"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Supabase JWT token"
      },
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Basic authentication for admin endpoints"
      }
    },
    "schemas": {
      "HealthCheckResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "db": {
            "type": "object",
            "properties": {
              "ok": {
                "type": "boolean"
              },
              "latency_ms": {
                "type": "number",
                "nullable": true
              },
              "error": {
                "type": "string",
                "nullable": true
              }
            }
          },
          "rest": {
            "type": "object",
            "properties": {
              "ok": {
                "type": "boolean"
              },
              "latency_ms": {
                "type": "number",
                "nullable": true
              },
              "error": {
                "type": "string",
                "nullable": true
              }
            }
          },
          "auth": {
            "type": "object",
            "properties": {
              "ok": {
                "type": "boolean"
              },
              "latency_ms": {
                "type": "number",
                "nullable": true
              },
              "error": {
                "type": "string",
                "nullable": true
              }
            }
          },
          "rls": {
            "type": "object",
            "properties": {
              "ok": {
                "type": "boolean"
              },
              "note": {
                "type": "string"
              },
              "error": {
                "type": "string"
              }
            }
          },
          "storage": {
            "type": "object",
            "properties": {
              "ok": {
                "type": "boolean"
              },
              "latency_ms": {
                "type": "number",
                "nullable": true
              },
              "buckets_count": {
                "type": "number"
              },
              "error": {
                "type": "string",
                "nullable": true
              }
            }
          },
          "total_latency_ms": {
            "type": "number"
          },
          "error": {
            "type": "string"
          }
        }
      },
      "AnalyticsEvent": {
        "type": "object",
        "required": ["event"],
        "properties": {
          "event": {
            "type": "string",
            "description": "Event name (e.g., 'page_view', 'conversion')"
          },
          "properties": {
            "type": "object",
            "description": "Event properties",
            "additionalProperties": true
          },
          "userId": {
            "type": "string",
            "format": "uuid",
            "description": "User ID"
          },
          "sessionId": {
            "type": "string",
            "description": "Session ID"
          }
        }
      },
      "FunnelMetrics": {
        "type": "object",
        "properties": {
          "funnel": {
            "type": "object",
            "additionalProperties": {
              "type": "number"
            }
          }
        }
      },
      "CheckoutRequest": {
        "type": "object",
        "required": ["priceId", "userId", "tier"],
        "properties": {
          "priceId": {
            "type": "string",
            "description": "Stripe price ID"
          },
          "userId": {
            "type": "string",
            "format": "uuid",
            "description": "User ID"
          },
          "tier": {
            "type": "string",
            "enum": ["starter", "pro", "enterprise"],
            "description": "Subscription tier"
          }
        }
      },
      "Notification": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "title": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": ["info", "success", "warning", "error"]
          },
          "read": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateNotificationRequest": {
        "type": "object",
        "required": ["title", "message"],
        "properties": {
          "title": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": ["info", "success", "warning", "error"],
            "default": "info"
          }
        }
      },
      "Settings": {
        "type": "object",
        "properties": {
          "theme": {
            "type": "string",
            "enum": ["light", "dark", "system"]
          },
          "notifications": {
            "type": "object",
            "properties": {
              "email": {
                "type": "boolean"
              },
              "push": {
                "type": "boolean"
              }
            }
          },
          "preferences": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "TelemetryEvent": {
        "type": "object",
        "required": ["name"],
        "properties": {
          "name": {
            "type": "string"
          },
          "value": {
            "type": "number"
          },
          "unit": {
            "type": "string"
          },
          "tags": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "details": {
            "type": "object",
            "additionalProperties": true
          }
        }
      }
    }
  }
}
